In [6]:
import pandas as pd
import numpy as np

In [7]:
train_df = pd.read_csv('Google_Stock_Price_Train.csv')

In [8]:
train_df

            Date    Open    High     Low   Close      Volume
0       1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1       1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2       1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3       1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4       1/9/2012  322.04  322.29  309.46  620.76  11,688,800
...          ...     ...     ...     ...     ...         ...
1253  12/23/2016  790.90  792.74  787.28  789.91     623,400
1254  12/27/2016  790.68  797.86  787.66  791.55     789,100
1255  12/28/2016  793.70  794.23  783.20  785.05   1,153,800
1256  12/29/2016  783.33  785.93  778.92  782.79     744,300
1257  12/30/2016  782.75  782.78  770.41  771.82   1,770,000

[1258 rows x 6 columns]

In [9]:
test_df = pd.read_csv('Google_Stock_Price_Test.csv')

In [ ]:
test_df

         Date    Open    High     Low   Close     Volume
0    1/3/2017  778.81  789.63  775.80  786.14  1,657,300
1    1/4/2017  788.36  791.34  783.16  786.90  1,073,000
2    1/5/2017  786.08  794.48  785.02  794.02  1,335,200
3    1/6/2017  795.26  807.90  792.20  806.15  1,640,200
4    1/9/2017  806.40  809.97  802.83  806.65  1,272,400
5   1/10/2017  807.86  809.13  803.51  804.79  1,176,800
6   1/11/2017  805.00  808.15  801.37  807.91  1,065,900
7   1/12/2017  807.14  807.39  799.17  806.36  1,353,100
8   1/13/2017  807.48  811.22  806.69  807.88  1,099,200
9   1/17/2017  807.08  807.14  800.37  804.61  1,362,100
10  1/18/2017  805.81  806.21  800.99  806.07  1,294,400
11  1/19/2017  805.12  809.48  801.80  802.17    919,300
12  1/20/2017  806.91  806.91  801.69  805.02  1,670,000
13  1/23/2017  807.25  820.87  803.74  819.31  1,963,600
14  1/24/2017  822.30  825.90  817.82  823.87  1,474,000
15  1/25/2017  829.62  835.77  825.06  835.67  1,494,500
16  1/26/2017  837.81  838.00  827.01  832.15  2,973,900
17  1/27/2017  834.71  841.95  820.44  823.31  2,965,800
18  1/30/2017  814.66  815.84  799.80  802.32  3,246,600
19  1/31/2017  796.86  801.25  790.52  796.79  2,160,600

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Open    20 non-null     float64
 2   High    20 non-null     float64
 3   Low     20 non-null     float64
 4   Close   20 non-null     float64
 5   Volume  20 non-null     object
dtypes: float64(4), object(2)
memory usage: 1.1+ KB

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [13]:
# Convert 'Close' column to string type, remove commas, and convert to float
train_df['Close'] = train_df['Close'].astype(str).str.replace(',', '').astype(float)
test_df['Close'] = test_df['Close'].astype(str).str.replace(',', '').astype(float)

In [14]:
from sklearn.preprocessing import MinMaxScaler

# Normalize the training data
train_scaler = MinMaxScaler()
train_df['Normalized Close'] = train_scaler.fit_transform(train_df['Close'].values.reshape(-1, 1))

# Normalize the test data
test_scaler = MinMaxScaler()
test_df['Normalized Close'] = test_scaler.fit_transform(test_df['Close'].values.reshape(-1, 1))

In [15]:
# Make sure column names are consistent (single space)
x_train = train_df['Normalized Close'].values[:-1].reshape(-1, 1, 1)
y_train = train_df['Normalized Close'].values[1:].reshape(-1, 1, 1)

x_test = test_df['Normalized Close'].values[:-1].reshape(-1, 1, 1)
y_test = test_df['Normalized Close'].values[1:].reshape(-1, 1, 1)

In [16]:
print("x_train shape:", x_train.shape)
print("y_train shape:", y_train.shape)
print("x_test shape:", x_test.shape)
print("y_test shape:", y_test.shape)

x_train shape: (1257, 1, 1)
y_train shape: (1257, 1, 1)
x_test shape: (19, 1, 1)
y_test shape: (19, 1, 1)

In [ ]:
train_df

            Date    Open    High     Low   Close      Volume  Normalized Close
0       1/3/2012  325.25  332.83  324.97  663.59   7,380,500          0.237573
1       1/4/2012  331.27  333.87  329.08  666.45   5,749,400          0.241514
2       1/5/2012  329.83  330.75  326.89  657.21   6,590,300          0.228781
3       1/6/2012  328.34  328.77  323.68  648.24   5,405,900          0.216419
4       1/9/2012  322.04  322.29  309.46  620.76  11,688,800          0.178548
...          ...     ...     ...     ...     ...         ...               ...
1253  12/23/2016  790.90  792.74  787.28  789.91     623,400          0.411656
1254  12/27/2016  790.68  797.86  787.66  791.55     789,100          0.413916
1255  12/28/2016  793.70  794.23  783.20  785.05   1,153,800          0.404958
1256  12/29/2016  783.33  785.93  778.92  782.79     744,300          0.401844
1257  12/30/2016  782.75  782.78  770.41  771.82   1,770,000          0.386726

[1258 rows x 7 columns]

In [ ]:
test_df

         Date    Open    High     Low   Close     Volume  Normalized Close
0    1/3/2017  778.81  789.63  775.80  786.14  1,657,300          0.000000
1    1/4/2017  788.36  791.34  783.16  786.90  1,073,000          0.015344
2    1/5/2017  786.08  794.48  785.02  794.02  1,335,200          0.159095
3    1/6/2017  795.26  807.90  792.20  806.15  1,640,200          0.403998
4    1/9/2017  806.40  809.97  802.83  806.65  1,272,400          0.414092
5   1/10/2017  807.86  809.13  803.51  804.79  1,176,800          0.376539
6   1/11/2017  805.00  808.15  801.37  807.91  1,065,900          0.439532
7   1/12/2017  807.14  807.39  799.17  806.36  1,353,100          0.408237
8   1/13/2017  807.48  811.22  806.69  807.88  1,099,200          0.438926
9   1/17/2017  807.08  807.14  800.37  804.61  1,362,100          0.372905
10  1/18/2017  805.81  806.21  800.99  806.07  1,294,400          0.402382
11  1/19/2017  805.12  809.48  801.80  802.17    919,300          0.323642
12  1/20/2017  806.91  806.91  801.69  805.02  1,670,000          0.381183
13  1/23/2017  807.25  820.87  803.74  819.31  1,963,600          0.669695
14  1/24/2017  822.30  825.90  817.82  823.87  1,474,000          0.761761
15  1/25/2017  829.62  835.77  825.06  835.67  1,494,500          1.000000
16  1/26/2017  837.81  838.00  827.01  832.15  2,973,900          0.928932
17  1/27/2017  834.71  841.95  820.44  823.31  2,965,800          0.750454
18  1/30/2017  814.66  815.84  799.80  802.32  3,246,600          0.326671
19  1/31/2017  796.86  801.25  790.52  796.79  2,160,600          0.215021

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              20 non-null     object
 1   Open              20 non-null     float64
 2   High              20 non-null     float64
 3   Low               20 non-null     float64
 4   Close             20 non-null     float64
 5   Volume            20 non-null     object
 6   Normalized Close  20 non-null     float64
dtypes: float64(5), object(2)
memory usage: 1.2+ KB

In [20]:
from keras.models import Sequential
from keras.layers import LSTM, Dense

model = Sequential()
model.add(LSTM(4, input_shape=(1, 1)))
model.add(Dense(1))

model.compile(loss='mean_squared_error', optimizer='adam')
model.summary()

c:\Users\Dell\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\layers\rnn\rnn.py:200: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ lstm (LSTM)                     │ (None, 4)              │            96 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense (Dense)                   │ (None, 1)              │             5 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 101 (404.00 B)

 Trainable params: 101 (404.00 B)

 Non-trainable params: 0 (0.00 B)

In [ ]:
model.fit(x_train, y_train, epochs=100, batch_size=1, verbose=1)

Epoch 1/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - loss: 0.0685
Epoch 2/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0088
Epoch 3/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 3.4288e-04
Epoch 4/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.2936e-04
Epoch 5/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 7.2078e-04
Epoch 6/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2.7896e-04
Epoch 7/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 7.1011e-04
Epoch 8/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 4.8629e-04
Epoch 9/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 6.0239e-04
Epoch 10/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 7.3616e-04
Epoch 11/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.7916e-04
Epoch 12/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 4.5188e-04
Epoch 13/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 6.5841e-04
Epoch 14/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2.4187e-04
Epoch 15/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.0905e-04
Epoch 16/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0017
Epoch 17/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - loss: 0.0010
Epoch 18/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2.9695e-04
Epoch 19/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2.7093e-04
Epoch 20/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 6.6409e-04
Epoch 21/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 9.3243e-04
Epoch 22/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 7.6845e-04
Epoch 23/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.3890e-04
Epoch 24/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 5.1944e-04
Epoch 25/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 6.1520e-04
Epoch 26/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - loss: 0.0016
Epoch 27/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 5.5116e-04
Epoch 28/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0010
Epoch 29/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0010
Epoch 30/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 7.7508e-04
Epoch 31/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 7.4790e-04
Epoch 32/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - loss: 0.0016
Epoch 33/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 7.6677e-04
Epoch 34/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2.9337e-04
Epoch 35/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0015
Epoch 36/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 5.2900e-04
Epoch 37/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 7.9012e-04
Epoch 38/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 4.0284e-04
Epoch 39/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.7207e-04
Epoch 40/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - loss: 2.3229e-04
Epoch 41/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0010
Epoch 42/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0026
Epoch 43/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2.6961e-04
Epoch 44/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0016
Epoch 45/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 9.7833e-04
Epoch 46/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.0955e-04
Epoch 47/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.0521e-04
Epoch 48/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 4.9100e-04
Epoch 49/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 8.3229e-04
Epoch 50/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0012
Epoch 51/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0013
Epoch 52/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 8.2451e-04
Epoch 53/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 6.6064e-04
Epoch 54/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.0187e-04
Epoch 55/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 7.0091e-04
Epoch 56/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - loss: 0.0016
Epoch 57/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 4.4886e-04
Epoch 58/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0011
Epoch 59/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - loss: 9.5714e-04
Epoch 60/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - loss: 4.4848e-04
Epoch 61/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 8.5329e-04
Epoch 62/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.5392e-04
Epoch 63/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0011
Epoch 64/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0016
Epoch 65/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.7920e-04
Epoch 66/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.7300e-04
Epoch 67/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 8.5204e-04
Epoch 68/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 5.5302e-04
Epoch 69/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - loss: 6.4602e-04
Epoch 70/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2.5919e-04
Epoch 71/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 5.8040e-04
Epoch 72/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2.5204e-04
Epoch 73/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0010
Epoch 74/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 5.8658e-04
Epoch 75/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 8.5832e-04
Epoch 76/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.7613e-04
Epoch 77/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.2886e-04
Epoch 78/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0022
Epoch 79/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 4.2824e-04
Epoch 80/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0015
Epoch 81/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 4.6408e-04
Epoch 82/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0013
Epoch 83/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 9.5591e-04
Epoch 84/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2.4798e-04
Epoch 85/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 8.3421e-04
Epoch 86/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 4.2132e-04
Epoch 87/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 6.1863e-04
Epoch 88/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - loss: 5.4741e-04
Epoch 89/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0022
Epoch 90/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 8.3155e-04
Epoch 91/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.8444e-04
Epoch 92/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 4.0249e-04
Epoch 93/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 5.6328e-04
Epoch 94/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 5.6216e-04
Epoch 95/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 3.9068e-04
Epoch 96/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 5.4464e-04
Epoch 97/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 6.9136e-04
Epoch 98/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 0.0026
Epoch 99/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 8.4727e-04
Epoch 100/100
1257/1257 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 5.5064e-04

In [22]:
test_loss = model.evaluate(x_test, y_test)
print('Testing loss: ', test_loss)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 436ms/step - loss: 0.0249
Testing loss:  0.02487853728234768

In [ ]:
y_pred = model.predict(x_test)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 212ms/step

In [24]:
# Inverse transform the normalized values to get the actual values
y_test_actual = test_scaler.inverse_transform(y_test.reshape(-1, 1))
y_pred_actual = test_scaler.inverse_transform(y_pred.reshape(-1, 1))

In [ ]:
i=1

In [26]:
print("Actual value: {:.2f}".format(y_test_actual[i][0]))
print("Predicted value: {:.2f}".format(y_pred_actual[i][0]))

Actual value: 794.02
Predicted value: 787.39